:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44335;
    --gray-color: #888;
}
/* Start Box */
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-al-c {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-1 {
    flex: 1;
}
.space-between {
    justify-content: space-between;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.gap-10 {
    gap: 10px;
}
.d-block {
    display: block;
}
/* End Box */
/* Start Padding + Margin + Width */
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}
.m-20 {
    margin: 20px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-0 {
    margin-bottom: 0;
}
.mt-25 {
    margin-top: 25px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-0 {
    margin-top: 0;
}
.m-0 {
    margin: 0;
}
.mr-10 {
    margin-right: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
.w-50 {
    width: 50px;
}
.h-full {
    height: 100%;
}
/* End Padding + Margin + Width */
/* Start Color */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-org {
    background-color: var(--orange-color);
}
.bg-red {
    background-color: var(--red-color);
}
.c-black {
    color: black;
}
.c-gray {
    color: var(--gray-color);
}
.c-white {
    color: white;
}
.c-blue {
    color: var(--blue-color);
}
.c-org {
    color: var(--orange-color);
}
.c-green {
    color: var(--green-color);
}
.c-red {
    color: var(--red-color);
}
/* End Color */
/* Start Position */
.p-relative {
    position: relative;
}
/* End Position */
/* Start Font */
.txt-c {
    text-align: center;
}
.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.f-bold {
    font-weight: bold;
}
/* End Font */
/* Start Border */
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.rad-half {
    border-radius: 50%;
}
.b-none {
    border: none;
}
.br-c-red {
    border-color: var(--red-color);
}
.br-c-blue {
    border-color: var(--blue-color);
}
.br-c-org  {
    border-color: var(--orange-color);
}
.br-c-green {
    border-color: var(--green-color);
}
.br-bottom-eee {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.border-ccc {
    border: 1px solid #ccc;
}
/* End Border */
/* Start Media */
@media (max-width: 767px) {
    .h-mobile {
        display: none;
    }
    .txt-c-mobile {
        text-align: center;
    }
    .block-mobile {
        display: block;
    }
}
/* End Media */
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}